body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Times New Roman', Times, serif;
}

h1, h2, h6 {
  /* font-family: 'Monoton', cursive; */
  font-family: 'Cinzel', serif;
  color: #000;}

li {
  list-style: none; }

#reilyNavBar .nav-link:hover {
  transition: 0.5s ease;
  background-color: #636363;
  color: white; }

#reilyNavBar .nav-link {
  transition: 0.5s ease;
  background-color: white;
  color: #6c757d;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.featuredImg {
  height: 400px;
  width: 300px;
  border-radius: 0.25em;
  margin: 20px; }

.indexLogo {
  height: 25rem;
  width: 25rem; }

#footerLogo {
  height: 5rem;
  transition: 0.5s ease;
  transform: scale(1); }

#footerLogo:hover {
  transition: 0.5s ease;
  transform: scale(0.9); }

.nav-link {
  font-size: x-large; }

#art-tab .active {
  background-color: #6c757d; }

#art-tab .nav-link {
  color: #6c757d; }

#art-tab .nav-link.active {
  color: white; }

#navButton {
  border: none;
  z-index: 1; }

#art-tab a {
  font-size: small; }

#gallery-tabContent img {
  width: 100%; }

.contact-label {
  font-weight: bold;
  font-size: large; }

textarea {
  resize: none; }

@media (min-width: 768px) {
  #art-tab a {
    font-size: x-large; }
  #gallery-tabContent img {
    width: 100%; } }
